Q1. Write a python program to print all the numbers from 1 to 10 using a for loop.

In [1]:
range = ([1,2,3,4,5,6,7,8,9,10)
for i in range : 
    print(i)

1
2
3
4
5
6
7
8
9
10

Q2. Write a python program to find the sum of all numbers from 1 to 100 using a for loop.

In [37]:
num = 0
for i in range(1,101):
    num += i
print("Sum of all numbers from 1 to 100 is : " , num)

Sum of all numbers from 1 to 100 is :  5050

Q3. Write a python program to print multiplication table of a given number using a for loop.

In [36]:
table_number = int(input("Enter the  table number :"))


for i in range(1,11,1):
    print(f"{table_number} x {i} = {table_number * i}")

Enter the  table number : 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Q4. Write a python program to count the

In [24]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [25]:
even = 0
odd = 0
for num in list1:
    if num % 2 == 0:
        even += 1
    else :
        odd += 1
print("Even numbers: " , even)
print("Odd numbers: " , odd)

Even numbers:  5
Odd numbers:  5

In [35]:

num = int(input("Enter a number:"))

fact = 1
for i in range(1 , num + 1):
    fact *= i

print("Factorial is: " , fact)

Enter a number: 5

Factorial is:  120

In [33]:

num = int(input("Enter a number: "))
if num <= 1:
    print("Not a prime number")
else:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print("It is a prime number")
    else:
        print("Not a prime number")

Enter a number:  5

It is a prime number

In [42]:
# program to find the largest number in a list
numbers = [23,56,74,32,65,45,78,98,44]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print(" The largest number in the list is:", largest)

 The largest number in the list is: 98

In [43]:
text = input("Enter the string:")

reversed_text = " "

for char in text:
    reversed_text = char + reversed_text

print("Reversed string is:", reversed_text)

Enter the string: Python

Reversed string is: nohtyP

In [45]:
list1 = [3,4,5,6]
list2 = [4,5,9,2]

common_elements = []

for i in list1:
    if i in list2 and i not in common_elements:
        common_elements.append(i)

print("Common_elements is:", common_elements)

Common_elements is: [4, 5]

In [46]:
max_num = int(input("Enter the maximum number:"))
a,b = 0,1

print("Fibonacci sequence up to " , max_num, " :")

for _ in range(max_num):
    if a > max_num:
        break
    print(a, end = " ")
    a , b = b, a + b

Enter the maximum number: 6

Fibonacci sequence up to  6  :
0 1 1 2 3 5